# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_DOCUMENTS_BUCKET=knowledge-documents

# Direct connection to the database. Used for migrations
DATABASE_URL=""
# AI Model Configuration
OPENAI_API_KEY=
OPENAI_BASE_URL=
MODEL_NAME=
OPENROUTER_API_KEY=
EMBEDDING_API_KEY=
EMBEDDING_BASE_URL=
EMBEDDING_MODEL_NAME=text-embedding-3-small
TAVILY_API_KEY=
